<h1 id="index-title">Seattle Karate Leagues</h1>

<h3>Current Standings</h3>


  <div id="league-A-container">
    <h3>League A</h3>
    <tbody class="league-table">
      <tr>
        <td>Player</td>
      </tr>
      <tr>
        <td>Andrew</td>
      </tr>
      <tr>
        <td>Anya</td>
      </tr>
      <tr>
        <td>Jake</td>
      </tr>
      <tr>
        <td>Ed</td>
      </tr>
    </tbody>
  </div>

  <div id="league-B-container">
    <h3>League B</h3>
    <tbody class="league-table">
      <tr>
        <td>Player</td>
      </tr>
      <tr>
        <td>Andrew</td>
      </tr>
      <tr>
        <td>Anya</td>
      </tr>
      <tr>
        <td>Jake</td>
      </tr>
      <tr>
        <td>Ed</td>
      </tr>
    </tbody>
  </div>

